	#zadanie1{
		background:#ed6eb1;


	}
	#zadanie1 ul{
		background:#ed6eb1;

	}
	#zadanie1 ul li{
		color:white;
		background:#ff207b;
		border: 1px solid #fff;
		font-size: 14px;


	}
	#zadanie1 ul li:marker{
		background-color:red;
		left:-20px;
	}
	#zadanie1 ul li span{
		background:#f211ff;

	}
