
/*ОФОРМЛЕНИЕ МЕНЮ */
#menu1{
	width: auto;
	display: block;
	margin: 0 auto 30px;
}
header{
	background:#DCDCDC;
}	
#menu1 ul{
	list-style:none;
	display: flex;
	margin: 5px;
	padding: 5px;
	padding-left: 0;
}
#menu1 ul li{
	width: 75px;
	height: 30px;
	font-size: 18px;
	border-right: 1px solid #FFAB51;
	background: #DCDCDC;
	text-align: center; /*Горизонтальное положение */
	/*vertical-align: text-top; /*вертикальное положение */
	transition: 0.5s;
	margin: 0;
}
#menu1 ul li:hover{
	background:#A9A9A9;
}	
#menu1 ul li a{
	text-decoration: none;
}	










body{
     background:red;
     color:white;
}
p{ font-size: 25px;}
h1,h2,h3,h4,h5,h6 { color: white;}

/*Свойства для абзацев */
/*Обращение к id */
#p1{
    /*Нужен для отображения пробелов между словами */
    /* normal | nowrap не учитывать пробелы и переносы!
    pre отображение с учетов всех переносов и пробелов|
    pre-line не учитывать пробелы, перенести текст на след. строку
    | pre-wrap сохраняет все пробелы и переносы, но если строка не помещается то текст автоматически будет перенесен*/

    white-space: normal;
    /*Перенос строк внутри слов |normal| break-all добавляет перенос строк так, чтобы поместилось в заданную ширину|
    keep-all запрещает перенос слов*/
    word-break: break-all;
	width:200px;
	height: 200px;
}
#p2{
    white-space: pre;
    writing-mode:horizontal-tb; /*Горизонтальное сверху вниз|
    vertical-rl вертикальное сверху вниз справа налево|
    vertical-lr вертикальное сверху вниз слево направо*/
}
/*Обращение к классу */
.p3{
    white-space: pre-line;
    writing-mode:vertical-lr;
}